<header class="w-full bg-white h-16 group">
  <nav
    class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 md:px-5 lg:py-0 md:py-0 py-3 mx-auto w-full absolute left-0 right-0 z-10 bg-white"
  >
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="text-xl md:text-2xl font-semibold"
    >
      E-Learning
    </a>
    <button
      type="button"
      class="block md:hidden text-2xl focus:outline-none"
      (click)="isMenuOpen = !isMenuOpen"
    >
      &#9776;
    </button>
    <ul
      class="w-full md:w-auto md:flex md:items-center md:justify-center gap-3 h-auto md:h-16 mt-4 md:mt-0 z-100"
      [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen }"
    >
      <li
        class="text-[20px] h-16 flex items-center hover:border-b-2 transition-all"
      >
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li
        class="text-[20px] h-16 flex items-center hover:border-b-2 transition-all"
      >
        <a [routerLink]="['/about']">About</a>
      </li>
      <li
        class="text-[20px] h-16 flex items-center hover:border-b-2 transition-all"
      >
        <a [routerLink]="['/product']">Product</a>
      </li>
    </ul>

    <div
      *ngIf="isUserLoggedIn()"
      class="w-full md:w-auto flex flex-col md:flex-row items-center gap-2 mt-4 md:mt-0 z-100 md:block md:flex"
      [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen }"
    >
      <span *ngIf="userName" class="text-lg font-semibold text-cyan-900">
        Welcome, {{ userName | titlecase }}
      </span>
      <a
        *ngIf="userName"
        (click)="logout()"
        class="flex justify-center border border-cyan-800 rounded-sm px-3 py-1 hover:bg-cyan-900 hover:text-white transition"
      >
        logout
      </a>
    </div>

    <div
      *ngIf="!isUserLoggedIn()"
      class="w-full md:w-auto flex flex-col md:flex-row items-center gap-2 mt-4 md:mt-0 z-100 md:block md:flex"
      [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen }"
    >
      <a
        *ngIf="!userName"
        [routerLink]="['/register']"
        class="flex justify-center border border-cyan-800 rounded-sm px-3 py-1 bg-cyan-900 text-white hover:bg-white hover:text-black transition"
      >
        Register
      </a>
      <a
        *ngIf="!userName"
        [routerLink]="['/login']"
        class="flex justify-center border border-cyan-800 rounded-sm px-3 py-1 hover:bg-cyan-900 hover:text-white transition"
      >
        login
      </a>
    </div>
  </nav>
</header>
